<div class="register-form">
  <h2>Registration</h2>
  <mat-card style="max-width: 400px;">
    <form [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
          style="border: none">
      <app-auth-input
        formControlName="username"
        [label]="'Username'"
        [placeholder]="'Enter Username'"
        [tagId]="'username'"
        [required]="true"
      ></app-auth-input>
      <br>
      <app-auth-input
        formControlName="email"
        [label]="'Email'"
        [placeholder]="'Enter Email'"
        [tagId]="'email'"
        [type]="'email'"
        [required]="true"
      ></app-auth-input>
      <br>
      <app-auth-input
        formControlName="password"
        [label]="'Password'"
        [placeholder]="'Enter Password'"
        [tagId]="'password'"
        [type]="'password'"
        [required]="true"
      ></app-auth-input>
      <br>
      <button mat-raised-button color="primary" style="width: 100%" [disabled]="registerForm.invalid || registerForm.disabled">Submit</button>
    </form>
      <p style="padding-top: 15px;" (click)="toLoginPage()">Already have account?
        <span style="cursor: pointer; color: #4a24c7; text-decoration: underline;">Log in</span>
      </p>
  </mat-card>
</div>
