.form-builder {
  min-height: calc(100vh - 50px);
  background-color: rgb(44, 13, 113);
  width: 100%;
  align-items: center;
  display: flex;
  .left-style-component__form {
    color: #fff;
    max-width: 250px;
    width: 100%;
    min-height: calc(100vh - 50px);
    h2 {
      color: #fff;
      font-size: 30px;
    }
  }
}

